#item {
  display: flex;
  background: seashell;
}
.flatInfoContainer {
  display: block;
  justify-content: space-between;
  width: 35%;
}

.flatTitleContainer,
.flatPropertyContainer,
.flatSummaryContainer {
  font-size: 1em;
  padding: 8px;
}
